.musictable-nav {
    background-color: aqua;
    width: 100%;
}

li {
    padding-bottom : 0.2cm;
    padding-left: 1cm;
    text-align: center;
}

label {
    padding-bottom : 0.2cm;
    padding-left: 1cm;
    text-align: center;
}

h4 {
    padding-bottom : 0.2cm;
    padding-left: 1cm;
    text-align: center;
}