.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  table {
    align-items: center;
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 2px solid black;
    text-align: center;
    padding: 8px;
    font-size: 24px;
  }
  
  th {
    background-color: aqua;
  }
  
  td {
    background-color: lightblue;
  }
  

  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 24px;
  }

  h1 {
      text-align: center;
  }